@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700';
body {
  font-family: 'Source Sans Pro', sans-serif; }

.nbos-primary {
  color: blue; }

.nbos-accent {
  color: darkorange; }

.nbos-warn {
  color: darkred; }

.nbos-bg {
  font-family: 'Source Sans Pro', sans-serif; }

.toggleArrow {
  background: url(../../assets/icons/down-arrow.png) center center no-repeat;
  width: 24px;
  height: 24px; }

.side-menu,
.side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 0; }

.md-sidenav-left {
  /*background: #383f45;*/
  height: 100%; }

.side-menu {
  font-family: 'Source Sans Pro', sans-serif; }
  .side-menu h5 {
    color: rgba(255, 255, 255, 0.35);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 200;
    font-size: 11px;
    padding-left: 40px;
    margin: 40px 0 12px 0px; }
  .side-menu li ul li a {
    color: rgba(255, 255, 255, 0.9);
    border-bottom: solid 1px rgba(255, 255, 255, 0.03);
    letter-spacing: 0.4px;
    text-transform: none; }
    .side-menu li ul li a.md-button {
      width: 100%;
      padding: 0 0 6px 40px;
      margin: 0;
      text-align: left;
      font-size: 16px; }
      .side-menu li ul li a.md-button.active {
        color: white;
        background: rgba(255, 255, 255, 0.05) !important; }

.side-menu .md-button.md-docs-dark-theme[disabled] {
  color: rgba(255, 255, 255, 0.1); }

.md-button.md-alternate-theme:not([disabled]):hover {
  color: white;
  background: rgba(255, 255, 255, 0.05) !important; }

h2.md-display-1 {
  font-weight: 200; }

.profileView h2.md-display-1 {
  margin: 0;
  padding: 0; }

md-icon.appLogo {
  height: 60px;
  width: 60px; }

md-menu-content.dropDownMenu md-menu-item .mdBtn {
  font-size: 12px; }

md-menu-content.dropDownMenu md-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.05); }

@media (max-width: 959px) and (min-width: 0) and (orientation: landscape) {
  md-icon.appLogo {
    height: 48px;
    width: 48px; }
  .logoCenter .logo {
    margin: -2px auto 0 !important; } }

@media (max-width: 959px) and (min-width: 0) and (orientation: portrait) {
  md-icon.appLogo {
    height: 54px;
    width: 54px; } }

.logoCenter {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  top: 0; }
  .logoCenter .logo {
    margin: 4px auto 0;
    display: table; }

.md-docs-dark-theme .material-icons {
  font-size: 20px; }

/*
  Some Util Classes
*/
.main-content-padding {
  padding-top: 64px; }

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  .progressBar .md-container {
    background-color: #1565c0; }
  .progressBar .md-bar1 {
    background-color: #ffab40; }
  .progressBar .md-bar2 {
    background-color: #ffab40; }

.hideProgressbar {
  display: none; }

md-toast {
  z-index: 10000;
  position: fixed;
  top: 70px !important; }

.loginHeader .md-button.md-icon-button {
  margin: 0px;
  padding: 0px;
  width: 65px;
  height: 65px; }

.loginHeader .md-button md-icon {
  width: 65px;
  height: 65px; }

.socialIcons {
  margin-top: 20px; }
  .socialIcons .md-subhead {
    margin-bottom: 10px; }
  .socialIcons .md-button {
    background-color: rgba(0, 0, 0, 0.05);
    min-width: 46px;
    height: 52px;
    margin: 0 20px 0 0; }
    .socialIcons .md-button md-icon {
      width: 46px;
      height: 46px; }

.actionbtn {
  margin-top: 20px;
  margin-left: -10px; }

.loginBanner {
  width: 400px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }
  .loginBanner .overlapBg {
    background: blue;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    opacity: 0.4; }
  .loginBanner .bannerContent {
    z-index: 20;
    position: relative; }
    .loginBanner .bannerContent .loginTxt {
      margin-top: 100%; }
      .loginBanner .bannerContent .loginTxt a {
        font-size: 20px;
        color: #fff;
        text-transform: none;
        font-weight: 600;
        border: solid 1px; }
      .loginBanner .bannerContent .loginTxt p {
        padding-left: 14px;
        color: #fff;
        margin: 0;
        font-weight: 200; }

.formBlock {
  min-width: 300px; }

.registration .infoTabs md-tabs-wrapper {
  display: none; }

.registration .subdomainText h2 {
  margin-top: -5px; }

.registration .registerOrgForm md-tabs-wrapper {
  display: none; }

.registration .hint {
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey; }

.registration .edit-icon {
  cursor: pointer;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px; }

.registration .edit-button {
  height: 30px;
  margin-top: 13px;
  color: white; }

.registration .redCancel {
  color: #dd2c00; }

.registration .subdomainError {
  color: #dd2c00;
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  opacity: 1;
  margin-top: -20px;
  margin-left: 13px;
  display: block; }
