@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700';
body {
  font-family: 'Source Sans Pro', sans-serif; }

.nbos-primary {
  color: blue; }

.nbos-accent {
  color: darkorange; }

.nbos-warn {
  color: darkred; }
