<md-toolbar class="loginHeader md-hue-2" md-whiteframe="8" ng-controller="loginHeaderCtrl">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="CodingLabs" hide-gt-xs>
            <img ng-src="{{logo}}">
        </md-button>
        <span flex></span>
        <md-button ng-click="website()">
            <div layout="row" layout-align="center center">
                <i class="material-icons">public</i> &nbsp; Website
            </div>
        </md-button>
        <md-button class="md-raised" aria-label="Learn More" ui-sref="idn.login">
            Sign In
        </md-button>
    </div>
</md-toolbar>
