@import "https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,400i,600,700,900";
/*
  Some Util Classes
*/
.main-content-padding {
  padding-top: 64px; }

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0; }
  .progressBar .md-container {
    background-color: #1565c0; }
  .progressBar .md-bar1 {
    background-color: #ffab40; }
  .progressBar .md-bar2 {
    background-color: #ffab40; }

.hideProgressbar {
  display: none; }

md-toast {
  z-index: 10000;
  position: fixed;
  top: 70px !important; }

.settings .settings-nav {
  border: 1px solid #ccc;
  border-radius: 8px; }

.prefixHeight {
  display: table;
  width: 100%;
  /*height:100%;*/ }

.defaultImg {
  background: #eee; }
  .defaultImg img {
    display: table;
    text-align: center;
    margin: 0 auto; }

.prefixOverflow {
  overflow: hidden; }
  .prefixOverflow md-sidenav.md-sidenav-left.ng-scope.ng-isolate-scope._md.md-alternate-theme.md-locked-open.md-closed {
    display: table;
    height: 100vh; }

.loginHeader .md-button.md-icon-button {
  margin: 0px;
  padding: 0px;
  width: 65px;
  height: 65px; }
.loginHeader .md-button md-icon {
  width: 65px;
  height: 65px; }

.loginContainer {
  padding-top: 50px;
  padding-bottom: 50px; }

.fixed-toolbar {
  z-index: 999; }
  .fixed-toolbar md-toolbar {
    position: fixed; }

.login-content-padding {
  padding-top: 60px; }

img.logoparts {
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out; }

img.logoparts:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg); }

.fbBtn {
  /*background-color: rgba(109, 132, 180, 0.96) !important;*/
  min-width: 46px; }
  .fbBtn md-icon {
    width: 46px;
    height: 46px; }

.gpBtn {
  /*background-color: rgba(211, 72, 54, 0.96) !important;*/
  min-width: 46px; }
  .gpBtn md-icon {
    width: 46px;
    height: 46px; }

div.codingGears {
  display: block;
  position: relative;
  width: 200px;
  height: 95px; }

div.rotateGears {
  padding-bottom: 25px; }

img.logopart {
  display: block;
  position: absolute;
  -webkit-animation: barrelRoll 2s infinite linear;
  -webkit-animation-play-state: paused;
  animation: barrelRoll 2s infinite linear;
  animation-play-state: paused;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  transition: transform .8s ease-in-out; }

img.logopart1 {
  left: 0; }

img.logopart2 {
  left: 95px;
  -webkit-animation-name: invertBarrelRoll;
  animation-name: invertBarrelRoll; }

img.logopart3 {
  left: 0;
  -webkit-animation-name: invertBarrelRoll;
  animation-name: invertBarrelRoll; }

img.logopart4 {
  left: 95px; }

div.rotateGears:hover img.logopart {
  -webkit-animation-play-state: running;
  animation-play-state: running; }

@-webkit-keyframes barrelRoll {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@-webkit-keyframes invertBarrelRoll {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg); } }
@keyframes barrelRoll {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@keyframes invertBarrelRoll {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(-360deg); } }
.nbosTheme {
  background: url("../../../assets/images/icons-bg.png") left top no-repeat, linear-gradient(to right, #f95e3c 0%, #fb922f 50%, #fca72a 100%);
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100vh;
  display: table;
  width: 100%; }
  .nbosTheme .nbosformBlock {
    min-width: 360px; }
    .nbosTheme .nbosformBlock.formMinWidth {
      width: 100%;
      min-width: 100%; }
  .nbosTheme .flatBtns {
    padding-top: 20px; }
    .nbosTheme .flatBtns .md-button {
      text-transform: none; }
  .nbosTheme .logo {
    padding-top: 14px; }

.loginHeader {
  background: linear-gradient(to right, #f95e3c 0%, #fb922f 50%, #fca72a 100%); }

.registration .infoTabs md-tabs-wrapper {
  display: none; }
.registration .subdomainText h2 {
  margin-top: -5px; }
.registration .registerOrgForm md-tabs-wrapper {
  display: none; }
.registration .hint {
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  color: grey; }
.registration .edit-icon {
  cursor: pointer;
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px; }
.registration .edit-button {
  height: 30px;
  margin-top: 13px;
  color: white; }
.registration .redCancel {
  color: #dd2c00; }
.registration .subdomainError {
  color: #dd2c00;
  font-size: 12px;
  line-height: 14px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
  opacity: 1;
  margin-top: -20px;
  margin-left: 13px;
  display: block; }

/*# sourceMappingURL=styles.css.map */
