<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!--Font Family-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Bower Stylesheets -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
    <link rel='stylesheet' href='bower_components/angular-loading-bar/build/loading-bar.css' type='text/css' media='all'/>

    <!--APP Styles-->
    <link rel="stylesheet" href="assets/css/appStyles.css">

    <!--Social Signup-->
    <meta name="google-signin-clientid" content= />
    <meta name="google-signin-scope" content="https://www.googleapis.com/auth/plus.login email" />
    <meta name="google-signin-requestvisibleactions" content="http://schema.org/AddAction" />
    <meta name="google-signin-cookiepolicy" content="single_host_origin" />
    
    <script type="text/javascript">
        
    </script>    

</head>
<body ng-app="clientApp" layout="column" flex>

<div id="access_token" style="display : none;"><%= ACCESS_TOKEN %></div>
<div id="tenant_id" style="display : none;"><%= TENANT_ID %></div>
<div id="ENV" style="display : none;"><%= ENV %></div>



<!--[if lte IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->

<div ui-view ng-controller="AppCtrl" layout="cloumn" flex></div>


<!--BOWER COMPONENTS-->
<!-- angularjs Libraries-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/angular/angular.js"></script>
<!--Cookies-->
<!--<script src="bower_components/angular-cookie/angular-cookie.min.js"></script>-->
<script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<!-- angular material requirements-->
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-messages/angular-messages.js"></script>
<script src="bower_components/angular-material/angular-material.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
<!--loading bar-->
<script type='text/javascript' src='bower_components/angular-loading-bar/build/loading-bar.min.js'></script>
<!--underscore-->
<script src="bower_components/underscore/underscore.js"></script>
<!--file Upload-->
<script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
<script src="bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>

<!-- APP -->
<script src="app.js"></script>
<script src="client.js"></script>

<!-- CONFIGURATIONS LEVEL -->
<!-- config -->
<script src="app_core/app.core.js"></script>
<script src="app_core/scripts/app.services.js"></script>
<script src="app_core/scripts/app.ctrl.js"></script>

<!--NBOS IDN-SDK-->
<script src="app_core/sdk/idn.sdk.js"></script>

<!-- navigation -->
<script src="app_core/scripts/app.navigationService.js"></script>

<!-- theme -->
<script src="app_theme/app.themeService.js"></script>

<script src="app_core/views/error/errorCtrl.js"></script>
<!-- common -->
<script src="app_utils/app.stateService.js"></script>
<script src="app_utils/app.errorService.js"></script>
<script src="app_utils/app.alertService.js"></script>
<script src="app_utils/app.loggerService.js"></script>
<script src="app_utils/app.rolesService.js"></script>
<script src="app_utils/app.userService.js"></script>
<script src="app_utils/app.underscore.js"></script>


<!-- layout -->
<script src="app_layout/app.layout.js"></script>
<script src="app_layout/layoutCtrl.js"></script>
<script src="app_layout/layoutService.js"></script>


<!--primaryPage-->
<script src="app_core/views/firstPage/firstPageCtrl.js"></script>

<!-- APP_IDN -->
<script src="mod_idn/mod.idn.js"></script>


<!-- SERVICES -->
<script src="app_utils/app.sessionService.js"></script>

<script src="mod_idn/scripts/idn.constants.js"></script>
<script src="mod_idn/scripts/directives/idn.directives.js"></script>
<script src="mod_idn/scripts/services/loginService.js"></script>
<script src="mod_idn/scripts/services/passwordService.js"></script>


<!-- CONTROLLERS -->
<script src="mod_idn/views/dashboard/idn.dashboardCtrl.js"></script>
<script src="mod_idn/views/header/idn.loginHeaderCtrl.js"></script>
<script src="mod_idn/views/registration/idn.loginCtrl.js"></script>
<script src="mod_idn/views/forgot/idn.forgotCtrl.js"></script>
<script src="mod_idn/views/reset/resetCtrl.js"></script>
<script src="mod_idn/views/registration/idn.registerCtrl.js"></script>
<script src="mod_idn/views/registration/registerSuccessCtrl.js"></script>
<script src="mod_idn/views/menu/idn.headerCtrl.js"></script>
<script src="mod_idn/views/menu/idn.navCtrl.js"></script>
<script src="mod_idn/views/profile/idn.profileCtrl.js"></script>
<script src="mod_idn/views/settings/idn.settingsCtrl.js"></script>
<script src="mod_idn/views/settings/compareTo.js"></script>

<!-- SOCIAL LOGIN -->
<script src="mod_idn/scripts/services/social/SocialLoginService.js"></script>
<script src="mod_idn/scripts/services/social/FBService.js"></script>
<script src="mod_idn/scripts/services/social/GoogleService.js"></script>
<script src="mod_idn/scripts/services/social/AccountkitService.js"></script>
<script src="https://apis.google.com/js/client:platform.js" async defer></script>



<!-- STARTER CODE-->
<script src="mod_app/mod.app.js"></script>
<script src="mod_app/views/menu/app.headerCtrl.js"></script>
<script src="mod_app/views/dashboard/app.dashboardCtrl.js"></script>
<script src="mod_app/views/newpage/app.newpageCtrl.js"></script>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function (A, n, g, u, l, a, r) {
        A.GoogleAnalyticsObject = l, A[l] = A[l] || function () {
                    (A[l].q = A[l].q || []).push(arguments)
                }, A[l].l = +new Date, a = n.createElement(g),
                r = n.getElementsByTagName(g)[0], a.src = u, r.parentNode.insertBefore(a, r)
    }(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>






</body>
</html>
