
body, .nbos-bg {
  //background-color: #cbc6c3;
  background-color: #ECEFF1;
}

.nbos-error-bg{
  min-height: 550px;
  img{
    display: inline;
    float: right;

  }

}

.nbos-error{
  margin-top: 47px;


  h1{
    font-size:70px;
    margin-bottom:0px;
  }
}

#loading-bar .bar {
  background-color: #0D47A1;
  height:4px;
}

.nbos_link{
  cursor: pointer;
}

.nbos_hide {
  display: none;
}

.nbos-completePercent{
  height:100px;
  position: relative;

  .nbos-percentValue{
    position: absolute;
    padding-left: 31%;
    margin-left:23px;
    padding-top:36px;
  }

  md-progress-circular{
    position: absolute;
    left: 31%;
  }
}


#loading-bar .bar{
  background:rgba(56,63,69,0.8) !important;
  height: 3px !important;
}

.nbos-help-icon {
  font-size: 16px;
  cursor: pointer;
}

.nbos-checkbox {
  margin-left: 16px !important;
  margin-bottom: 0px;
}