<section ng-controller="IdnSettingsCtrl" class="settings">
    <!-- <div class="md-title">Settings</div> -->
    <div layout="column" layout-padding>
        <md-content layout="column" class="md-whiteframe-1dp">
            <div layout="row" layout-align="left center">
                <p class="md-title">
                    Settings
                </p>
            </div>
        </md-content>
    </div>
    <br>
    <div layout-padding layout-wrap layout="row">
        <div class="settings-nav md-whiteframe-8dp">
            <md-content layout="column" layout-align="start start" class="">
                <md-button class="md-primary" ui-sref="idn2.settings.changePassword">Change Password</md-button>
                <md-divider></md-divider>
                <md-button class="md-primary" ng-disabled="true">Billing Info</md-button>
            </md-content>
        </div>
        <div flex>
            <md-content layout-padding layout-wrap ui-view>
            </md-content>
        </div>
        <!-- <div class="md-title">CHANGE PASSWORD</div>
         -->
    </div>
</section>
