.nbos-bg {
  font-family: 'Source Sans Pro', sans-serif;
}

.toggleArrow {
  background: url(../../assets/icons/down-arrow.png) center center no-repeat;
  width: 24px;
  height: 24px;
}

.side-menu,
.side-menu ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.md-sidenav-left {
  /*background: #383f45;*/
  height: 100%;
}

.side-menu {
  font-family: 'Source Sans Pro', sans-serif;
  h5 {
    color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 200;
    font-size: 11px;
    padding-left: 40px;
    margin: 40px 0 12px 0px;
  }
  li {
    ul {
      li {
        a {
          color: rgba(255, 255, 255, 0.6);
          border-bottom: solid 1px rgba(255, 255, 255, 0.03);
        ;
          letter-spacing: 0.4px;
          text-transform: none;
          &.md-button {
            width: 100%;
            padding: 0 0 6px 40px;
            margin: 0;
            text-align: left;
            font-size: 16px;
            &.active {
              color: rgba(255, 255, 255, 1);
              background: rgba(255, 255, 255, 0.05);
            }
          }
        }
      }
    }
  }
}

.side-menu .md-button.md-docs-dark-theme[disabled] {
  color: rgba(255, 255, 255, 0.1);
}

h2.md-display-1 {
  font-weight: 200;
}

.profileView {
  h2.md-display-1 {
    margin: 0;
    padding: 0;
  }
}

md-icon.appLogo {
  height: 60px;
  width: 60px;
}

md-menu-content.dropDownMenu {
  md-menu-item {
    .mdBtn {
      font-size: 12px;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
    }
  }
}

@media (max-width: 959px) and (min-width: 0) and (orientation: landscape) {
  md-icon.appLogo {
    height: 48px;
    width: 48px;
  }
  .logoCenter {
    .logo {
      margin: -2px auto 0 !important;
    }
  }
}

@media (max-width: 959px) and (min-width: 0) and (orientation: portrait) {
  md-icon.appLogo {
    height: 54px;
    width: 54px;
  }
}

.logoCenter {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  top: 0;
  .logo {
    margin: 4px auto 0;
    display: table;
  }
}

.md-docs-dark-theme{
  .material-icons{
    font-size: 20px;
  }
}