<section layout-wrap layout-align="start center" class="socialIcons" ng-if="socialArr.length > 0">
    <div class="md-subhead">Connect with social accounts</div>
    <div layout="row">
        <md-button aria-label="{{social.name}}" ng-click="socialLogin(social.short_name)" ng-repeat="social in socialArr">
            <md-icon md-svg-src="{{social.imageUrl}}"></md-icon>
        </md-button>
    </div>
    <span flex></span>
</section>
