<div layout="column" layout-align="center center" ng-controller="IdnDashboardCtrl">
    <div style="height: 120px;"></div>
    <h4>Loading ...</h4>
    <div style="width: 400px;">
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </div>
    <p class="md-body-2 nbos-warn" ng-show="showError">
        Oops! Something went wrong here. Please <i>Refresh</i> the page or <md-button ng-click="reLogin()">Re-Login</md-button>
    </p>
    <p class="md-body-2 nbos-warn" ng-show="showInvalidToken">
        Your session has expired, please <md-button ng-click="reLogin()">Re-Login</md-button>
    </p>
    <md-button ng-click="reLogin()">DESTROY</md-button>
</div>